@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Hakan Erkan Page</h1>
    <p>hahaha kile mana men  <a href="https://www.bing.com/images/search?view=detailV2&ccid=74epN2SV&id=0AB1C7ECCE8F27706D12D778993BCC30224F484B&thid=OIP.74epN2SVrlOD_FxZswVxVQHaEK&mediaurl=http%3a%2f%2fi1.ytimg.com%2fvi%2fdiDlU51L7uY%2fmaxresdefault.jpg&exph=720&expw=1280&q=minecraft+gangnam+style&simid=608008751430697441&selectedIndex=2&ajaxhist=0">kongi kongi kongi kongi</a>.</p>
</div>
